/* Move down content because we have a fixed navbar that is Xpx tall */
body {
  padding-top: 90px;
}

.container {
  max-width: 1600px;
}

h1, h2, h3, h4 {
  padding-top: 50px;
  color: #566;
}

.separator {
  border-top: solid 1px #bdd;
  display: block;
}
